<html >
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="images/favicon.png" type="image/x-icon" />
        <link href="~/scss/bootstrap.min.css" rel="stylesheet" />
        <link href="~/scss/font-awesome.min.css" rel="stylesheet" />
        <link href="~/scss/media.css" rel="stylesheet" />
        <link href="~/scss/style.css" rel="stylesheet" />
    </head>
<body>
    <h3>App Working...</h3>
    <form action="StudentProfile/UploadImage"  method="post"
          enctype="multipart/form-data">

        <input type="file" name="file" />
        <button type="submit">Upload File</button>
    </form>
</body>
    
    </html>