.landingPage {
  background: url("../images/bg.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.landingPage .row {
  margin-right: 0px;
}

.landingPage .layer {
  background-color: #595959;
  width: 100%;
  height: 100%;
  opacity: .7;
  position: relative;
}

.landingPage .logo {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 7%;
  opacity: 0.7;
  background-color: #666666;
}

.landingPage .logoimage {
  position: absolute;
  top: 10px;
  margin-left: 3%;
}

.landingPage .text {
  position: absolute;
  top: 30%;
  color: #fff;
  margin-left: 5%;
}

.landingPage .text h1 {
  font-size: 3.9rem;
}

.landingPage .text h1 span {
  color: #bd82f0;
}

.landingPage .text h2 {
  font-size: 3rem;
  color: #8ccb75;
}

.landingPage .text p {
  margin-bottom: 0;
  font-size: 25px;
}

.landingPage .col-sm-8 {
  padding-right: 0px;
  padding-left: 0px;
}

.landingPage .btnSignLog {
  margin-top: 15px;
}

.landingPage .btnSignLog .btn {
  width: 80%;
  font-size: 2vw;
}

.landingPage .btnSignLog .btn-success {
  background-color: #8ccb75;
  border-color: #8ccb75;
  border-radius: 0px;
}

.landingPage .btnSignLog .btn-success:hover {
  background-color: transparent;
}

.landingPage .btnSignLog .btn-outline-success {
  border-color: #8ccb75;
  border-width: 2px;
  color: #fff;
  border-radius: 0px;
}

.landingPage .btnSignLog .btn-outline-success:hover {
  background-color: #8ccb75;
  border-color: #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}

.landingPage .modal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
  padding: 0px;
}

.landingPage .modal .modal-dialog .modal-content .modal-header h2 {
  color: #8ccb75;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding: 30px 0px 20px 25px;
}

.landingPage .modal .modal-dialog .modal-content .modal-header .nav-tabs {
  border-bottom: none;
}

.landingPage .modal .modal-dialog .modal-content .modal-header .nav-tabs .nav-link.active {
  background-color: #8ccb75;
  border-color: #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content .modal-header .nav-tabs .nav-link:hover {
  border-color: #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content .modal-header .nav-tabs a {
  color: #fff;
}

.landingPage .modal .modal-dialog .modal-content .modal-header button.close {
  color: #fff;
}

.landingPage .modal .modal-dialog .modal-content .modal-body {
  padding: 10px 0 10px 0;
  background-color: #fff;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .hide {
  display: none;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .wrapper {
  display: inline-flex;
  -webkit-display: inline-flex;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .spinner {
  display: inline;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-indent: -9999em;
  position: relative;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .spinner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #8ccb75;
  border-right-color: #8ccb75;
  animation: spinner 0.5s linear infinite;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .spinner--backing:before {
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-top-color: #8ccb75;
  border-right-color: #8ccb75;
}

@-webkit-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.landingPage .modal .modal-dialog .modal-content .modal-body input[type="text"], .landingPage .modal .modal-dialog .modal-content .modal-body input[type="password"], .landingPage .modal .modal-dialog .modal-content .modal-body input[type="email"] {
  width: 348px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  outline: none;
  color: #222;
  margin: 0 auto;
  text-indent: 20px;
  font-weight: bold;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #mail:hover, .landingPage .modal .modal-dialog .modal-content .modal-body #password:hover, .landingPage .modal .modal-dialog .modal-content .modal-body #birthdate:hover, .landingPage .modal .modal-dialog .modal-content .modal-body #username:hover {
  background: #F0F0F0;
  border-left: 5px solid #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content .modal-body input[type="tel"] {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 348px;
  display: block;
  border: 0;
  font-size: 20px;
  position: relative;
  top: 0;
}

.landingPage .modal .modal-dialog .modal-content .modal-body input[type="tel"]::-webkit-outer-spin-button, .landingPage .modal .modal-dialog .modal-content .modal-body input[type="tel"]::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.landingPage .modal .modal-dialog .modal-content .modal-body input[type="tel"]:focus {
  outline: 0;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .remember {
  padding: 30px 0px;
  font-size: 12px;
  text-indent: 20px;
  line-height: 15px;
  margin-left: 25px;
  display: inline-block;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .remember input[type=checkbox] {
  display: none;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .remember label {
  display: block;
  position: absolute;
  margin-top: 2px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  content: "";
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border: 3px solid white;
  box-shadow: 0px 0px 0px 2px #ccc;
}

.landingPage .modal .modal-dialog .modal-content .modal-body .remember #remember:checked ~ label[for=remember] {
  background: #8ccb75;
  border: 3px solid white;
  box-shadow: 0px 0px 0px 2px #8ccb75;
}

.landingPage .modal .modal-dialog .modal-content .modal-body button[type="submit"] {
  background: #8ccb75;
  border: 0;
  height: 30px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 0px 25px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-left: 50px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body span.msg {
  margin-top: 15px;
  color: red;
  display: block;
  margin-left: 24px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #loginDiv .modal-footer {
  display: block;
  background-color: #fff;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #loginDiv .modal-footer .forgot {
  margin-top: 25px;
  display: block;
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  color: #b5b5b5;
  padding: 0px 0px 25px 25px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #loginDiv .modal-footer .forgot h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #loginDiv .modal-footer .forgot a {
  color: #777;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv label {
  margin-left: 18px;
  color: #8ccb75;
  font-weight: bold;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .hidden {
  display: none;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv button[type="submit"] {
  margin-left: 58%;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .gender, .landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .type {
  background: #8ccb75;
  width: 45%;
  margin-left: 15px;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .gender select, .landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .type select {
  background: transparent;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .modal-footer {
  margin-top: 10px;
  padding: 15 15 0 15;
}

.landingPage .modal .modal-dialog .modal-content .modal-body #sginUpDiv .modal-footer a {
  color: #777;
}

.popupSeccess .modal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
}

.popupSeccess .modal .modal-dialog .modal-content .modal-header i {
  margin-left: 40%;
  color: #8ccb75;
}
 

 /*# sourceMappingURL= style.css.map */